nav{
  font-size: 30px;

}

nav li{
display:inline
margin 0 0 0 30%;

}


body{

background: linear-gradient(to bottom, rgb(145,240,227), rgb(145,240,227));
font-size: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;

}

h1{

color: rgb(123, 124, 170);
    text-align: center;
}
.imagem{
    width:200px;
    margin-left: 40%;
    border: solid 5px rgb(24, 24, 24)

}




